.parralax-frame {
  position: relative;
  overflow: hidden;
  /*min-height: 100vh;*/
  border-bottom-left-radius: 0% 0%;
  border-bottom-right-radius: 0% 0%;
}

.background-parralax {
  height: 100%;
  z-index: 1;
  width: 100vw;
  /*overflow: hidden;*/
  position: absolute;
}

.rawfood {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 45%;
  /*opacity: 0.8;*/
  z-index: 5;
}

.raw1 {
  top: auto;
  left: auto;
  right: 11%;
  bottom: -13%;
  height: 31%;
}

.raw2 {
  top: auto;
  bottom: -21%;
  left: -4%;
  height: 52%;
}

.raw3 {
  left: auto;
  right: 36px;
  bottom: 20%;
  top: auto;
  height: 21%;
}

.raw4 {
  right: -7%;
  left: auto;
  top: -11%;
  height: 52%;
}

@media (max-width: 757px) {
  .raw2 {
    top: 2%;
    bottom: 18%;
    left: -9%;
    height: 35%;
  }
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  .raw4 {
    height: 36%;
  }
}

