.navbarupper {
  height: 2px;
  width: 100%;
  display: block;
  background-color: #fcb22b;
}

#welcoming {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white, #FFE6A2);
  overflow-x: clip;
}

#welcomewrapper {
  height: 100%;
  background-color: rgba(255,255,255,0);
  position: relative;
  z-index: 50;
}

#welcomerow {
  height: 100%;
}

.food-img {
  width: 100%;
  height: auto;
}

.container-about-us {
  width: 95%;
}

@media (min-width: 768px) {
  #about-us {
    height: 80vh;
  }
}

@media (min-width: 768px) {
  .container-about-us {
    height: 100%;
    width: 80%;
    max-width: 1100px;
    display: block;
    background-color: #dddddd;
    padding: 20px 0;
  }
}

.half-circle {
  height: 100%;
  max-width: 10%;
  display: block;
  object-fit: fill;
}

.wrapper-about-us {
  /*height: 80vh;*/
  width: 100%;
  max-width: 1100px;
}

#vision-mission {
  /*height: 100%;*/
  background-color: #FF8844;
  position: relative;
  padding: 5% 0;
  overflow: hidden;
  /*padding-top: 30px;*/
  /*padding-bottom: 30px;*/
}

.banner-vision-mission {
  height: 100%;
  width: 100%;
  max-width: 720px;
  object-fit: contain;
}

.vision-image-wrapper {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 15;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1200px) {
  .vision-image {
    height: clamp(6%, 29%, 28%);
  }
}

#vision-food {
  top: 10%;
  left: 7%;
  position: absolute;
}

#vision-staff {
  left: 5%;
  bottom: 6%;
  position: absolute;
}

@media (max-width: 767px) {
  #vision-staff {
    left: -18%;
    bottom: -1%;
  }
}

#vision-customer {
  top: 18%;
  right: 6%;
  position: absolute;
}

#vision-office {
  bottom: 14%;
  right: 7%;
  position: absolute;
}

#compro-video {
  width: 100%;
  /*height: 100%;*/
  max-width: 640px;
  border-radius: 20px;
}

.container-md.vision-wrapper {
  /*padding: 0 10%;*/
}

@media (min-width: 992px) {
  .vision-image {
    height: clamp(6%, 23%, 28%);
  }
}

@media (min-width: 768px) {
  .vision-image {
    height: clamp(6%, 28%, 32%);
  }
}

.menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.height-full {
  overflow: hidden;
  height: 100%;
  padding: 0;
  border-radius: 15px;
  width: 100%;
  position: relative;
  margin: 0px;
  /*background: url("../../assets/img/bg4.svg") right / auto space;*/
}

.menu-title-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 0.8s;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.58));
}

.menu-title {
  color: white;
  /*bottom: 0;*/
  font-size: clamp(1rem, 1.2rem, 1.75rem);
}

.menu-title-wrapper:hover {
  opacity: 100%;
}

.col-3.menu-title-wrapper2 {
  /*padding: 0px 0;*/
}

.menu2-wrapper {
  height: 50%;
  position: relative;
  /*padding: 10px 0;*/
}

.menu2-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  /*margin-bottom: 10px;*/
  /*padding: 10px 0;*/
  /*margin-bottom: 0px;*/
}

.gapped {
  /*column-gap: 10px;*/
  /*padding-left: 10px;*/
  grid-row-gap: 10px;
}

#didie {
  /*margin-right: 10px;*/
}

.gapped3 {
  padding-left: 0px;
  /*column-gap: 10px;*/
  /*padding-left: 10px;*/
  grid-row-gap: 10px;
  padding-right: 10px;
}

#1stmenu {
  margin-bottom: 38px;
}

#1stmenu {
  margin-bottom: 10px;
}

#2ndmenu {
  margin-top: 10px;
}

#ourproduct {
  padding: 20px 0;
}

.b2c {
  box-shadow: -2px 2px 6px rgba(33,37,41,0.14);
  border-radius: 15px;
  height: 100%;
  width: 100%;
  transition: all ease 0.6s;
  transform: scale(1);
}

#menu1 {
  margin-bottom: 20px;
  grid-row-gap: 20px;
}

#ourproductb2b {
  /*padding: 20px 0;*/
  background: url("../../assets/img/bg2.svg") center / cover;
}

#ourproductb2c {
  padding: 20px 0;
  background: url("../../assets/img/bg1.svg") center / auto space;
}

.fadeouthover {
  opacity: 1;
  transition: all ease 0.6s;
}

.fadeouthover:hover {
  opacity: 0;
}

.fadeinhover {
  opacity: 00;
  transition: all ease 0.7s;
}

.fadeinhover:hover {
  opacity: 1;
}

.bouncein {
  transition: all ease 0.7s;
  transform: scale(1);
}

.bouncein:hover {
  transform: scale(1.02);
}

.b2c:hover {
  transform: scale(1.1);
}

.staff-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  /*z-index: 5;*/
  position: relative;
  padding: 0;
}

.staff-wrapper {
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  height: 100%;
  /*padding: 0;*/
}

.row.staff-grid {
  /*column-gap: 10px;*/
  /*width: calc(100% - 10px);*/
  /*grid-gap: 10px;*/
  /*grid-row-gap: 10px;*/
  /*flex-wrap: nowrap;*/
  position: relative;
  /*margin-bottom: 10px;*/
}

.staff-quote-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 30;
  border-radius: 15px;
  left: 0;
  top: 0;
  overflow: hidden;
}

.staff-quote {
  z-index: 77;
  /*height: 100%;*/
  /*width: 100%;*/
  color: white;
  width: 90%;
  position: relative;
  font-size: clamp(0.5rem, 0.7rem, 1.2rem);
}

.staff-work-bg {
  object-fit: cover;
  opacity: 55%;
  width: 100%;
  height: 100%;
  position: absolute;
  /*top: 0;*/
  left: 0;
  right: 0;
  /*padding: inherit;*/
  padding-left: inherit;
  padding-right: inherit;
}

.staff-work-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  /*border-radius: 15px;*/
}

.staff-quote-icon {
  position: absolute;
  color: white;
  right: 5%;
  bottom: 0%;
}

#gentosan {
  background-color: #DF3059;
}

#ito-san {
  background-color: #c74e76;
}

#bu-diah {
  background-color: #ce9f00;
}

#bu-reres {
  background-color: #ff8844;
}

#pak-windy {
  background-color: #76c55c;
}

#our-team {
  background-color: #FEE244;
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}

.container-grid {
  /*padding-right: 10px;*/
}

.facility-wrapper {
  margin-bottom: 20px;
}

#facility {
  padding: 20px 0;
  background: url("../../assets/img/bg4.svg") right / cover space;
}

#rice-cooking-navigator {
  display: none;
}

#qac {
  /*padding: 20px 0;*/
  /*height: 60VH;*/
  background: linear-gradient(52deg, #9BC8F0, #C0E9FD);
  position: relative;
}

#bluegrad {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0%;
}

.qac-feature {
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 90;
  transition: all ease 0.3s;
  filter: grayscale(70%);
}

.certified-wrapper {
  margin: 30px 0px;
  width: 80%;
  /*max-width: 700px;*/
}

.certified-image {
  z-index: 2;
  width: 80%;
  height: 100%;
}

#menu2 {
  grid-row-gap: 20px;
}

.qac-feature:hover {
  opacity: 100;
  filter: grayscale(0%);
}

#careerplan {
  height: 40vh;
  background: url("../../assets/img/Screenshot_55.jpg") top / cover no-repeat;
  position: relative;
}

.whitecareerplan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.55);
}

#careerplan .container {
  height: 100%;
  position: relative;
  z-index: 2;
}

#qac-section {
  z-index: 1;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #404040;
}

.jpn-text {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 10px;
  font-weight: 500;
  color: #777;
  position: relative;
  margin-bottom: 1.5rem;
}

.mcdelifooter {
  /*color: #555;*/
  /*font-weight: 350;*/
  /*display: block;*/
}

#footer {
  padding-top: 30px;
}

@media (min-width: 992px) {
  .footer-wrapper1 {
    width: 50%;
  }
}

#website-map {
  width: 100%;
  justify-content: space-between;
}

#socmed-wrapper {
  width: 100%;
}

#footer hr {
  /*height: 1.2px;*/
  border-top: 1.2px solid #FCB22B;
}

#linkedin-icon {
  /*height: 48px;*/
  margin-right: 10px;
  font-size: 2rem;
  color: #0076B4;
}

#footer a {
  text-decoration: none !important;
  color: #555;
  font-weight: 350;
  transition: all ease 0.4s;
  display: inline-block;
}

#footer a:hover {
  color: #FCB22B;
}

.icon-identity {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #FCB22B;
}

.mcdeli-ident {
  width: 70%;
}

#socmed-and-website-map {
  width: 50%;
}

@media (max-width: 575px) {
  #mcdeli-identity {
    width: 100%;
    margin-bottom: 2rem;
    column-gap: 0;
  }
}

@media (min-width: 768px) {
  #mcdeli-identity {
    width: 100%;
    margin-bottom: 2rem;
    column-gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  #socmed-and-website-map {
    width: 100%;
  }
}

.btn. read-more {
  display: inline-block;
  background-color: #FCB22B;
}

.btn.read-more {
  background-color: #FCB22B;
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  border-width: 2px;
  border-color: #fcb22b;
  border-radius: 15px;
  width: 200px;
  transition: all ease 0.6s;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.12);
}

#jobstreet {
  background: #0076b4;
  border-color: #0076b4;
}

.btn.read-more:hover {
  background-color: rgba(255,255,255,0.04);
  color: #fcb22b;
}

#jobstreet:hover {
  background-color: rgba(255,255,255,0.23);
  color: #0076b4;
}

.footer-copyright {
  background-color: #fcb22b;
  /*height: 3rem;*/
  padding: 10px 0;
  border: none;
  position: relative;
  top: -1px;
}

@media (max-width: 576px) {
  #certified {
    width: 100%;
  }
}

#scroll-wrapper {
  /*max-height: aut;*/
  max-width: 100px;
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 35;
  /*background-color: red;*/
  bottom: 10px;
  left: 50%;
  opacity: 90%;
  transition: all ease 0.6s;
}

.scroll-down {
  text-decoration: none;
  color: white;
  text-align: center;
}

#scroll-wrapper:hover {
  transition: 100%;
}

@media (max-width: 767px) {
  #vision-office {
    bottom: 8%;
    right: -18%;
  }
}

@media (max-width: 767px) {
  #vision-food {
    top: 3%;
    left: -19%;
  }
}

@media (max-width: 767px) {
  #vision-customer {
    top: 3%;
    right: -18%;
  }
}

@media (min-width: 768px) {
  .container-md.vision-wrapper {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .vision-image {
    height: 21%;
  }
}

.welcome-text {
  /*color: white;*/
}

#navcol-2 .nav-link, .dropdown-item {
  font-weight: 700;
  color: #404040;
  transition: all ease 0.6s;
}

#navcol-2 .nav-link:hover {
  color: #F47729;
}

.carousel-item {
  border-radius: 15px;
}

.welcome-text h1, .welcome-text h2, .welcome-text h3, .welcome-text h4, .welcome-text h5 {
  font-weight: 700;
  color: #f47729;
}

.jpn-text:after {
  content: '';
  height: 2px;
  width: 30%;
  position: absolute;
  background-color: #FCB22B;
  bottom: -11px;
  left: 0;
  transform: left;
}

.director-message-wrapper {
  /*height: 250px;*/
  padding: 10px;
  width: 100%;
  max-width: 500px;
  background-color: white;
  position: absolute;
  right: 5%;
  top: 50%;
  border-radius: 15px;
  transform: translateY(-50%);
}

.director-info {
  width: 35%;
  height: 100%;
}

.director-message {
  padding-left: 10px;
  width: 65%;
  height: 100%;
}

.director-photo {
  height: 100%;
  width: 70%;
  object-fit: scale-down;
  max-width: 100;
  border-radius: 15px;
}

.director-name {
  font-size: 1.1rem;
  margin: 10px 0 0 0;
}

.director-info hr {
  border-top: 1.2px solid #FCB22B;
  width: 100%;
  margin: 0;
}

.factory-info {
  margin-bottom: 0.2rem;
  font-weight: 700;
}

#company-gallery {
  overflow-y: overlay;
  /*max-height: 300px;*/
  overflow-x: hidden;
  position: relative;
}

.about-us-gallery-image {
  width: auto;
  height: 100%;
  margin-right: 15px;
  border-radius: 15px;
}

#company-certifivate {
  /*height: 60vh;*/
}

#HALAL-CERTIFICATE {
  /*height: 124%;*/
  /*width: 100%;*/
}

.certificate-text {
  margin-top: 1rem;
}

.vision-mission-image {
  height: auto;
  margin-bottom: 1rem;
  width: 80%;
  border-radius: 20px;
}

.nav-item .active {
}

#mcdeli-nav .active {
  background-color: #fcb22b !important;
  color: white !important;
  font-weight: 900;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 576px) {
  #mcdeli-identity {
    width: 100%;
    margin-bottom: 2rem;
    column-gap: 1.5rem;
  }
}

@media (min-width: 992px) {
  #mcdeli-identity {
    width: 45%;
    font-weight: 300;
  }
}

.company-gallery .slick-next {
  /*position: absolute;*/
  top: 0;
  background-color: #FEE244;
  right: 14%;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  z-index: 10;
  border: none;
  color: white;
  /*float: right;*/
  font-size: 1.5rem;
  margin-right: 5px;
}

.company-gallery .slick-pref {
  top: 0;
  background-color: #FEE244;
  right: 10%;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  /*position: absolute;*/
  border: none;
  color: white;
  z-index: 10;
  /*float: right;*/
  font-size: 1.5rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  -webkit-backface-visibility: hidden;
  font-family: 'Gotham Rounded', sans-serif;
  color: #666;
}

.hero-image {
  width: 100%;
  height: auto;
}

p {
  color: #555;
  font-weight: 300;
}

.grey {
  background-color: #f3f3f3;
}

.padding20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.b2b-feature-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.b2b-title {
  margin-bottom: 10px;
}

.b2b-below-title {
  width: 200px;
  height: 2px;
  background-color: #fee244;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.catalogue-download {
  /*height: 30vh;*/
  padding: 60px 0;
  position: relative;
  margin-top: 25px;
}

.catalogue-button {
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
}

#b2bcatalogue {
  background-color: #fcb22b;
  /*margin-right: 10px;*/
}

#b2ccatalogue {
  background-color: #0076b4;
}

.container.staff-story-wrapper {
  height: 190px;
  background-color: #dddddd;
}

.staff-story-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /*background-color: #dddddd;*/
}

.staff-story-text-wrapper {
  width: 85%;
  /*height: 181px;*/
  background-color: #888888;
  position: absolute;
  right: 0;
  top: 2.5rem;
  padding-left: 12%;
  border-radius: 20px;
  padding-right: 30px;
}

.carousel-staff {
  min-height: 100%;
  width: 25%;
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.staff-line {
  width: 200px;
  height: 2px;
  background-color: white;
  margin-bottom: 10px;
}

#diah-san {
  background-color: #fcb22b;
}

.carousel-commitment {
  width: 100%;
  height: 100%;
  display: block;
}

#windy-san {
  background-color: #75C45C;
}

.carousel-staff-rev {
  left: auto;
  right: 0;
}

.commit-reverse {
  right: auto;
  left: 0;
  padding-left: 20px;
  padding-right: 12%;
}

#megumi-san {
  background-color: #FC93B6;
}

.slick-next {
  background-color: #FEE244;
  right: 10%;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  /*position: absolute;*/
  border: none;
  color: white;
  z-index: 10;
  /*float: right;*/
  font-size: 1.5rem;
}

.slick-pref {
  background-color: #FEE244;
  right: 10%;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  /*position: absolute;*/
  border: none;
  color: white;
  z-index: 10;
  /*float: right;*/
  font-size: 1.5rem;
}

#fina-san {
  background-color: #23adfd;
}

.certified-white {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.slider-nav .slick-slide {
  cursor: pointer;
}

.slider-point-text {
  /*font-weight: 500;*/
  font-size: 1.2rem;
}

.slider-point-number {
  font-size: 1.7rem;
  margin-right: 0.5rem;
  font-weight: 600;
  font-family: 'Noto Sans JP';
  color: #888;
}

.slider-image-img {
  height: 100%;
  width: 100%;
}

.slider-point-number .is-active {
  /*color: #fcb22b;*/
}

.slider-point-text {
  color: #888;
  font-weight: 300;
}

.slick-slide.is-active {
  /*color: #fcb22b;*/
  /*background-color: #ffffff;*/
  font-weight: 800;
}

.slick-slide.is-active .slider-point-number {
  color: #fcb22b;
}

.slick-slide.is-active .slider-point-text {
  color: #404040;
  font-weight: 800;
}

#b2b-workflow p {
  color: white;
}

#diah-san {
}

.slick-list {
  height: auto !important;
}

#reres-san {
  background-color: #ff8844;
}

.btn.btn-primary {
}

.cooking-boil {
  margin-right: 7px;
  background-color: #589fe3;
  font-size: 12px;
}

.pic-shop-detail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

tr {
}

.catalogue-content {
  font-weight: 300;
}

.staff-wrapper a {
  position: relative;
  /*padding: 0;*/
  height: 100%;
  width: 100%;
  display: block;
}

@media (max-width: 768px) {
  .staff-story-text-wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 22%;
  }
}

@media (max-width: 768px) {
  .carousel-staff {
    width: 35%;
    left: auto;
    right: 6%;
    top: 2%;
  }
}

@media (max-width: 575px) {
  .carousel-staff {
    width: 88%;
  }
}

@media (max-width: 575px) {
  .staff-story-text-wrapper {
    padding-top: 80%;
  }
}

.mcdeli-logo {
  width: 123%;
  /*max-height: 100px;*/
  z-index: 99;
  /*height: 132px;*/
  top: 0;
  /*width: 100%;*/
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .mcdeli-logo {
    width: 112%;
  }
}

@media (max-width: 575px) {
  .mcdeli-logo {
    width: 90%;
  }
}

#chat-sales-widget {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #fcb22b;
  border-radius: 0;
}

a {
  color: #666;
  transition: all ease 0.5s;
}

@media (max-width: 767px) {
  #about-us {
    height: auto;
  }
}

@media (max-width: 767px) {
  .half-circle {
    display: none;
  }
}

@media (max-width: 768px) {
  .container-about-us {
    padding: 20px;
  }
}

#about-us {
  height: 100%;
}

@media (max-width: 991px) {
  #scroll-wrapper {
    display: none;
  }
}

@media (max-width: 767px) {
  .raw1 {
    right: 2%;
    height: 25%;
    bottom: -9%;
  }
}

@media (max-width: 768px) {
  #careerplan {
    height: auto;
  }
}

@media (max-width: 575px) {
  .mcdeli-ident {
    width: 100%;
    padding-left: 10px;
  }
}

.footer-logo {
  width: 30%;
}

@media (max-width: 575px) {
  .footer-logo {
    width: 60%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 300px) {
  .footer-logo {
    width: 30%;
  }
}

.link-menu {
  width: 100%;
  height: 100%;
}

.link-menu {
  height: 100%;
  width: 100%;
}

#tab-3 {
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
}

@media (min-width: 576px) {
  #vision-food {
    left: 0;
  }
}

@media (min-width: 576px) {
  #vision-staff {
    left: 0;
  }
}

#vision-customer {
  right: 0;
}

@media (min-width: 576px) {
  #vision-office {
    right: 0;
  }
}

#vision-office {
  right: 0;
}

#vision-staff {
  left: 0;
}

#vision-food {
  left: 0;
}

.highlighted {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .highlighted {
    margin-bottom: 0;
  }
}

.padding30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 575px) {
  #compro-video {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .staff-story-text-wrapper {
    padding-top: 30%;
  }
}

@media (max-width: 575px) {
  .staff-story-text-wrapper {
    padding-top: 80%;
  }
}

@media (min-width: 300px) {
  .manager-section {
    height: 770px;
  }
}

@media (min-width: 576px) {
  .manager-section {
    height: 560px;
  }
}

@media (min-width: 768px) {
  .manager-section {
    height: 510px;
  }
}

@media (min-width: 992px) {
  .manager-section {
    height: 380px;
  }
}

@media (max-width: 991px) {
  .certified-white {
    width: 90%;
  }
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .half-circle {
    /*display: none;*/
  }
}

@media (max-width: 767px) {
  .vision-mission-image {
    width: 95%;
  }
}

.bridge-bottom {
  position: absolute;
  bottom: 0px;
  left: 0;
}

.menu-title-jpn {
  color: white;
  font-family: 'Noto Sans JP';
  font-weight: 400;
  letter-spacing: 5px;
  font-size: clamp(0.70rem, 1rem, 1.1rem);
}

@media (max-width: 991px) {
  .menu-title-wrapper {
    opacity: 100%;
  }
}

.menu-item {
  color: #555555;
  margin-bottom: 0.4em;
  margin-top: 0px;
}

line-e {
}

.table-code {
}

.table-code {
  background-color: #F47728;
  font-weight: 400;
}

.title-product {
  margin-bottom: 5px;
}

.category-items {
  margin-bottom: 10px;
}

.category-items-name {
  background-color: white;
  padding: 10px;
  border-radius: 0px 00px 15px 15px;
}

.category-items-pic {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.cooking-type .deepfry {
  font-size: 13px;
}

.cook-fry {
  background-color: #f47729;
  font-size: 12px;
  margin-right: 7px;
}

.cooking-micro {
  background-color: #df3059;
  font-size: 12px;
  margin-right: 7px;
}

.cooking-type {
  border: none;
  font-size: 12px;
}

.cooking-thawing {
  background-color: #2CD3D3;
  font-size: 12px;
  margin-right: 7px;
}

.pic-shop {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

@media (min-width: 992px) {
  .max-height-400 {
    max-height: 400px;
  }
}

.menu-list {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px;
}

.padding-descr {
  /*padding: 20px 20px 20px 20px;*/
}

.padding-side-10 {
  padding: 10px;
}

.padding-side-10 {
  padding: 10px !important;
}

.table-spec {
  margin-bottom: 10px;
  font-size: clamp(10px, 1rem, 1rem);
}

